<a href="https://colab.research.google.com/github/skyworld19/data-engineering-starter-kit/blob/master/DE_2%EC%A3%BC%EC%B0%A8_%EA%B3%BC%EC%A0%9C_MAU%EA%B5%AC%ED%95%98%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%load_ext sql

In [ ]:
%sql postgresql://guest:Guest1!*@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

'Connected: guest@dev'

In [ ]:
%%sql

SELECT to_char(b.ts, 'yyyy-mm') as yyyymm , count(distinct(userid)) as mau
FROM raw_data.user_session_channel a, raw_data.session_timestamp b
WHERE a.sessionid = b.sessionid
GROUP BY yyyymm
ORDER BY yyyymm ASC

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
7 rows affected.

[('2019-05', 281),
 ('2019-06', 459),
 ('2019-07', 623),
 ('2019-08', 662),
 ('2019-09', 639),
 ('2019-10', 763),
 ('2019-11', 721)]